html, body {
	width:100%;
	height:50%;
	min-height: -webkit-fill-available;
	font-size:1em;
	font-family: Arial, sans-serif;
	color: gray;
	scroll-behavior:smooth;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height:auto;
}
a {
	color: darkgrey;
	text-decoration: none;
}
.border-1-gray {
	border:1px solid gray;
}
.container {
	display: grid;
	overflow:scroll;
	height:100vh;
	width:100%;
	place-items:center center;
	grid-template-columns:120px 1fr;
	grid-template-rows:60px 1fr 120px;
	grid-template-areas:
	"hd hd"
	"mli ma"
	"mli ft";
}

.hd{
	grid-area:hd;
	display: grid;
	width:100%;
	height:100%;
	background-color: gray;
	top:0;
	position:sticky;
	grid-template-columns: 120px 1fr;
	grid-template-areas:
	"logo titulo";
}
.hd-log {
	grid-area: logo;
	place-items: center left;
	background-color: steelblue;
}
.hd-titulo {
	grid-area:titulo;
}

.mli {
	grid-area:mli;
	display: grid;
	width:100%;
	height:100%;
	background-color: lightgray;
	place-items:center left;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 40px);
	grid-template-areas:
	"menu1"
	"menu2"
	"menu3"
	"menu4"
	"menu5"
	"menu6";
}
.mn1 {
	grid-area:menu1;
	margin:0 0 0 10px;
}
.mn2 {
	grid-area:menu2;
	margin:0 0 0 10px;
}
.mn3 {
	grid-area:menu3;
	margin:0 0 0 10px;
}
.mn4 {
	grid-area:menu4;
	margin:0 0 0 10px;
}
.mn5 {
	grid-area:menu5;
	margin:0 0 0 10px;
}
.mn6 {
	grid-area:menu6;
	margin:0 0 0 10px;
}
.ma {
	grid-area:ma;
	width:100%;
	height:100%;
	margin:20px 0 0 0;
}
.ft {
	grid-area:ft;
	display: grid;
	width:100%;
	height:100%;
	bottom:0;
	position:sticky;
	background-color: lightsalmon;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
	"footer1 footer2 footer3 footer4";
}
.fot1 {
	grid-area:footer1;
}
.fot2 {
	grid-area:footer2;
}
.fot3 {
	grid-area:footer3;
}
.fot4 {
	grid-area:footer4;
}
.grilla-4x4 {
	display:grid;
	grid-template-columns:repeat(4,1fr);
	grid-template-rows:repeat(6,auto);
	margin:8px;
	width:99%;
	row-gap:1.0vh;
	column-gap:1.0vw;
	height:100%;
	grid-template-areas: 
	"c1r1 c2r1 c3r1 c4r1"
	"c1r2 c2r2 c3r2 c4r2"
	"c1r3 c2r3 c3r3 c4r3"
	"c1r4 c2r4 c3r4 c4r4";
}
.g-c1r1 {
	grid-area:c1r1;
}
.g-c2r1 {
	grid-area:c2r1;
}
.g-c3r1 {
	grid-area:c3r1;
}
.g-c4r1 {
	grid-area:c4r1;
}
.g-c1r2 {
	grid-area:c1r2;
}
.g-c2r2 {
	grid-area:c2r2;
}
.g-c3r2 {
	grid-area:c3r2;
}
.g-c4r2 {
	grid-area:c4r2;
}
.g-c1r3 {
	grid-area:c1r3;
}
.g-c2r3 {
	grid-area:c2r3;
}
.g-c3r3 {
	grid-area:c3r3;
}
.g-c4r3 {
	grid-area:c4r3;
}
.g-c1r4 {
	grid-area:c1r4;
}
.g-c2r4 {
	grid-area:c2r4;
}
.g-c3r4 {
	grid-area:c3r4;
}
.g-c4r4 {
	grid-area:c4r4;
}
/* [ CARDS ] */
.catalogo {
	display:flex;
	flex-wrap:wrap;
	justify-content: start;
}
.item > section {
	border: 1px solid gray;
	padding:6px;
	width:250px;
	height:300px;
	flex: 1 1 0;
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	max-width:400px;
}

.item > section > p {
	flex-grow: 1;
}
 ul {
	display: flex;
	justify-content: space-between;
 }
.modal {
	display:none;
	position:fixed;
	border-radius: 20px;
	background-color: yellow;
	border: 3px solid red;
	font-size: 2em;
	top: 50%;
	left:50%;
	width:400px;
	height:300px;
}

// media querys
@media (max-width:700px) {
.container {
	grid-template-columns:1fr;
	grid-template-rows:repeat(4,auto);
	grid-template-areas:
	"hd"
	"mli"
	"ma"
	"ft";
}
.hd {
	background-color:black;
	grid-template-columns:1fr;
	grid-template-areas:
	"logo";
}
.mli {
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas: "menu1 menu2 menu3 menu4 menu5 menu6";
}
.ft {
	grid-template-columns: 1fr;
	grid-template-areas:
	"footer1";
}

.grilla-4x4 {
	grid-template-columns:1fr;
	grid-template-rows:repeat(16,auto);
	grid-template-areas: 
	"c1r1"
	"c2r1"
	"c3r1"
	"c4r1"
	"c1r2"
	"c2r2"
	"c3r2"
	"c4r2"
	"c1r3"
	"c2r3"
	"c3r3"
	"c4r3"
	"c1r4"
	"c2r4"
	"c3r4"
	"c4r4";
}

}

